<% @stuff.each do |s| %>
<%= s %>
<%= s.class %>
<% end  %>

<form action="/sandbox" method="GET">
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <textarea name="post[description]"></textarea>
  <input type="submit" value="Submit">
</form>

<form action="/sandbox" method="POST">
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <textarea name="post[description]"></textarea>
  <input type="submit" value="Submit">
</form>